/* #a{
    text-align: center;
    color: crimson;
    font-size: 80PX;
}
#b{
    text-align: center;
    color: blue;
    font-size: 80PX;
}
.name{
    text-align: center;
    color: crimson;
    font-size: 80PX;
}
.surname{
    text-align: center;
    color: blue;
    font-size: 80PX;
} */
 #x{
    color: rgb(255, 0, 43);
 }